footer {
	background: #000;
	color: #FFF;
	padding: 30px 0 20px 0;

	.wrap {
		display: flex;
		align-items: center;
	}

	img {
		max-width: 200px;
		height: auto;
		display: block;
		margin-bottom: 40px;
	}

	p {
		font-size: 14px;
		line-height: 18px;
		font-style: italic;
		margin-bottom: 15px;
	}

	.social-container {
		margin-left: auto;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 30px;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 30px;
			width: 30px;
			border-radius: 50%;
			background: #FFF;
			color: #000;
			transition: .5s all;
			font-size: 16px;
			margin-bottom: 10px;

			&:hover {
				background: $secondary;
			}
		}
	}
}


@media only screen and (min-width: 768px) {
	footer {
		padding: 55px 0;

		p {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 15px;
		}

		.social-container {
			flex-wrap: nowrap;
			max-width: none;

			a {
				height: 40px;
				width: 40px;
				margin-left: 15px;
				margin-bottom: 0;
				font-size: 21px;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	footer {
		img {
			margin-bottom: 110px;
		}
	}
}
