header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	background: #FFF;
	padding: 15px 0;
	transition: .5s all;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content:'';
		background: #FFF;
		height: 100vh;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		transition: .4s ease-in-out;
	}

	&.active {
		&:before {
			pointer-events: auto;
			opacity: 1;
		}
	}

	.wrap {
		display: flex;
		align-items: center;
	}

	.logo {
		display: block;
		position: relative;
		z-index: 5;
		display: block;
		width: 100%;
		max-width: 95px;
		margin-right: auto;
		height: auto;

		img {
			display: block;
		}
	}
}

.below-header-cta {
	display: none;
}

.below-header-cta-reveal {
	display: none;
}

@media only screen and (min-width: 768px) {
	header {
		&.animate {
			animation-delay: .5s!important;
		}

		.logo {
			max-width: 150px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	header {
		padding: 25px 0;
		.logo {
			max-width: 200px;
		}

		&:before {
			content: none;
		}
	}

	.below-header-cta-reveal {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 35px;
		width: 35px;
		position: fixed;
		right: 25px;
		top: 0px;
		cursor: pointer;
		background: $primary;
		border-radius: 0px 0px 5px 5px;
		transition: .5s .5s all;
		z-index: 10;

		img {
			display: block;
			max-width: 15px;
			width: 100%;
			height: auto;
		}

		&.hidden {
			transition-delay: 0s;
			top: -35px;
		}
	}

	.below-header-cta {
		position: relative;
		display: block;
		position: fixed;
		top: -48px;
		transform: translateY(-48px);
		left: 0;
		width: 100%;
		background: $primary;
		transition: .5s all;
		z-index: 10;
		box-shadow: 0 3px 7px 0 rgba(0,0,0,.1);
		border-bottom: solid #FFF 3px;

		.minimise {
			top: 16px;
			position: absolute;
			right: 25px;
			max-width: 15px;
			cursor: pointer;

			img {
				display: block;
				width: 100%;
				height: auto;
				transform: scale(-1);
			}
		}

		.wrap {
			position: relative;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		h5 {
			font-size: 14px;
			line-height: 14px;
			font-style: italic;
			font-weight: bold;
			margin-right: 30px;
		}

		.btn {
			font-weight: normal;
			font-size: 16px;
			height: 30px;
			border-radius: 5px;
		}

		.btn:hover {
			background: $secondary;
		}

		&.active {
			transform: translateY(0px);
			top: 0;
		}

		&.tuck-away {
			&.active {
				transform: none;
				top: -48px!important;
			}
		}
	}
}
