.menu-toggle {
	display: flex;
	width: 20px;
	height: 12px;
	flex-shrink: 0;
	position:relative;
	z-index: 5;
	cursor:pointer;
	margin-top: 2px;

	* {
		transition:.4s ease-in-out;
	}

	span {
		flex-shrink: 0;
		background: $blue;
		display: block;
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		//justify-content: center;
		position:absolute;
		height:100%;
		width:100%;
		top: 0px;
		left: 0;

		span {
		  width:100%;
		  height: 4px;
		  position:relative;
		  transform-origin: top right;

		  &:first-of-type {
			&:after {
				position: absolute;
	  			left: calc(50% - 2px);
	  			display: block;
	  			content: '';
	  			height: 500px;
	  			width: 4px;
	  			background: $blue;
	  			transition: .4s ease-in-out;
	  			transform-origin: top right;
	  			transform: scaleY(0);
			}
		  }

		  &:last-of-type {
			transform: translateY(3px);
		  }
		}
	}
  &.active {
	.hamburger {
		  span{
		  	&:first-of-type {
		  		&:after {
		  			transform: scaleY(1);
		  		}

		  	}
		  	&:last-of-type {
				transform: translateY(500px);
		  }
		}
	}
  }
}

nav {
	position: absolute;
	top: 23px;
	right: 0;
	z-index: 5;
	height: 508px;
	width: 100%;
	display: flex;
	text-align: center;
	font-size: 20px;
	justify-content: center;
	flex-direction: column;
	pointer-events: none;
	overflow: hidden;


	ul, .btn {
		opacity: 0;
		transition: .2s ease-in-out;
		transform: translateX(15px);
	}

	li {
		margin-bottom: 40px;
	}

	.btn {
		margin: 0 auto;
	}

	&.open {
		pointer-events: auto;
		transition: .4s ease-in-out;
		right: 0;

		ul, .btn {
			opacity: 1;
			transform: translateX(0);
			transition: .4s ease-in-out;
			transition-delay: .5s;
		}
	}
}

.mobile-nav {
	display: flex;
}

@media only screen and (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}

	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		display: flex;
	}

	nav {
		position: relative;
		top: auto;
		right: auto;
		flex-direction: row;
		width: auto;
		opacity: 1;
		display: flex;
		align-items: center;
		padding-top: 0px;
		background: none;
		height: auto;
		transform: none;
		pointer-events: auto;

		ul {
			font-size: 12px;
			display: flex;
			opacity: 1;
			transform: none;

			li {
				margin-bottom: 0;
				margin-right: 35px;
				transition: .5s all;
				position: relative;

				&:before {
					content: '';
					height: 2px;
					background: $blue;
					position: absolute;
					bottom: 0px;
					left: 0;
					width: 100%;
					transform: scaleX(0);
					transform-origin: left;
					transition: .3s ease-in-out;
				}

				&:hover {
					&:before {
						transform: scaleX(1)
					}
				}
			}
		}

		.btn {
			opacity: 1;
			transform: none;
			display: inline-flex;
		}
	}
}
