.btn {
	padding: 18px 32px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: 16px;
	border-radius: 50px;
	transition: .5s all;
	cursor: pointer;

	&.yellow {
		background: $primary;
		color: #000;

		&:hover {
			color: #FFF;
			background: $blue;
		}
	}

	&.turquoise {
		background: $secondary;
		color: #000;

		&:hover {
			background: $primary;
		}
	}

	&.black {
		background: #000;
		color: #FFF;

		&:hover {
			color: #000;
			background: $primary;
		}
	}
}

	@media only screen and (min-width: 768px) {
	.btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		transition: .5s all;
		cursor: pointer;
	}
}
