.footer-contact-form {
	position: relative;

	.footer-thank-you-message {
		pointer-events: none;
		opacity: 0;
		background: #FFF;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: .5s all;
		padding: 50px;


		h3 {
			font-style: italic;
			margin-bottom: 10px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&.mail-sent {
		.footer-thank-you-message {
			pointer-events: auto;
			opacity: 1;
		}
	}
}

#wpcf7-f5-o1 {
	position: relative;
	transition: .5s all;

	&.sent {
		opacity: 0;
	}

	.wpcf7-mail-sent-ok {
		display: none!important;
	}

	.wpcf7-form-control-wrap {
		position: relative;
		display: block;
		width: 100%;
	}

	label.error {
		color: red;
		display: block;
		padding-top: 5px;
		font-size: 12px;
		position: absolute;
	}

	.wpcf7-validation-errors {
		border-color: red;
	}

	input, textarea, select {
		font-family: $font-default;
		width: 100%;
		background: none;
		border: none;
		font-size: 16px;
		outline: none;
		transition: .5s all;
		-webkit-appearance: none;
		resize: none;
		color: #000;
		border-radius: 0;
		height: 24px;
		padding: 0px 0 0 0;
		border-bottom: 1px solid #000;
		overflow: auto;

		&.error {
			border-bottom: 1px solid red!important;
		}

		&:focus {
			border-bottom: 1px solid #000;
		}
	}

	select {
		&.error {
			border: none!important;
		}
	}

	select::-ms-expand {
    	display: none;
	}

	option {
		color: #000;
	}

	.type-of-enquiry {
		position: relative;
		background: $secondary url('../library/images/chevron-down.svg') right 20px center / 16px 8px no-repeat;
		margin-bottom: 40px;
		border-radius: 40px;
		color: #000;
	}

	select {
		border: none;
		cursor: pointer;
		height: 60px;
		color: #000;
		padding: 0 38px;
		margin: 0;

		&:focus {
			border: none;
		}
	}

	.form-columns {
		width: 100%;
		font-family: $font-default;
		margin-bottom: 30px;

		.wpcf7-form-control-wrap {
			margin-bottom: 30px;
		}

		.col {
			&:first-of-type {
				margin-bottom: 30px;
			}

			.wpcf7-form-control-wrap:last-of-type {
				margin-bottom: 0;
			}
		}

		textarea {
			height: 200px;
			background-attachment: local;
			background-image:
				linear-gradient(to right, transparent 10px, transparent 10px),
				linear-gradient(to left, transparent 10px, transparent 10px),
				repeating-linear-gradient(transparent, transparent 45px, #000 45px, #000 45px, transparent 46px);
		  	line-height: 48px;
		  	border-bottom: 0;

			  &:focus {
			 	border: none;
			}
		}
	}

	.acceptance-824 {
		width: auto;
		margin-bottom: 30px;

		span {
			line-height: 26px;
			font-size: 14px;
		}

		.wpcf7-form-control, .wpcf7-list-item {
			display: block;
			width: 100%;
			margin: 0;
		}

		label {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;

			&:after {
				pointer-events: none;
				opacity: 0;
				display: block;
				content: '';
				background: url('../library/images/tick.svg') center / contain no-repeat!important;
				height: 16px;
				width: 12px;
				position: absolute;
				top: 4px;
				left: 6px;
			}

			&.checked {
				&:after {
					opacity: 1;
				}
			}
		}

		input[type="checkbox"] {
			padding: 0;
			cursor: pointer;
			border: 1px solid #666;
			height: 24px;
			flex-shrink: 0;
			width: 24px;
			margin: 0;
			margin-right: 15px;
			transition: none;

			&:checked {
				background: url('../library/images/tick.svg') center / 16px 12px no-repeat!important;
			}

			&:focus {
				border: 1px solid #666666;
			}
		}
	}

	a {
		text-decoration: underline;
	}

	.wpcf7-submit {
		@extend .btn;
		height: auto;
		background: $primary;
		border: none;
		width: auto;

		&:disabled {
			cursor: not-allowed;
			background: #000;
			color: #FFF;

			&:hover {
				background: #000;
				color: #FFF;
			}
		}

		&:hover {
			background: $blue;
			color: #FFF;
		}
	}

	.ajax-loader {
		position: absolute;
		bottom: 12px;
		right: 0;
	}
}


@media only screen and (min-width: 768px) {
	#wpcf7-f5-o1  {
		input, textarea, select {
			height: 48px;
			padding: 18px 0 0 0;
		}

		.type-of-enquiry {
			max-width: 331px;
			background: $secondary url('../library/images/chevron-down.svg') 293px center / 16px 8px no-repeat;
		}

		select {
			height: 62px;
			padding: 0 38px;
		}

		.form-columns {
			display: flex;
			margin-bottom: 50px;

			.wpcf7-form-control-wrap {
				margin-bottom: 30px;
			}

			textarea {
				height: 204px;
				padding-top: 5px;
				background-image:
					linear-gradient(to right, transparent 12px, transparent 12px),
					linear-gradient(to left, transparent 12px, transparent 12px),
					repeating-linear-gradient(transparent, transparent 50px, #000 50px, #000 51px, transparent 51px);
			  	line-height: 50px;
			}

			.col {
				width: calc(610px - 24px);
				margin: 0;

				&:first-of-type {
					margin-right: 48px;
					margin-bottom: 0;
				}
			}
		}

		.acceptance-824 {
			margin-bottom: 50px;
		}

		.ajax-loader {
			right: auto;
			margin-left: 150px!important;
		}
	}
}
