* {
	outline: 0;
}

body {
	&.noscroll {
		overflow: hidden;
	}
}

.wrap {
	padding: 0 25px;
	max-width: 1330px;
	width: 100%;
	margin: 0 auto;
}

.animateelement {
	&.fadein {
		opacity: 0;
	}
	&.fadeup {
		opacity: 0;
		transform: translateY(10px);
	}
	&.fadedown {
		opacity: 0;
		transform: translateY(-10px);
	}
	&.faderight {
		opacity: 0;
		transform: translateX(-10px);
	}
	&.fadeleft {
		opacity: 0;
		transform: translateX(10px);
	}

	&.animate {
		&.fadein {
			animation: 1 1s fadeIn forwards;
		}
		&.fadeup {
			animation: 1 1s fadeUp forwards;
		}
		&.fadedown {
			animation: 1 1s fadeDown forwards;
		}
		&.faderight {
			animation: 1 1s fadeRight forwards;
		}
		&.fadeleft {
			animation: 1 1s fadeLeft forwards;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeUp {
	from {
		transform: translateY(10px);
		opacity: 0
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeDown {
	from {
		transform: translateY(-10px);
		opacity: 0
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeRight {
	from {
		transform: translateX(-10px);
		opacity: 0
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeLeft {
	from {
		transform: translateX(10px);
		opacity: 0
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Blog image styling
================================================ */
	img.alignright,img.alignleft,img.aligncenter, img.alignnone {
		display: block;
		max-width: 100%;
		height: auto;
	}


	img.alignright {margin: 1em 0;}
	img.alignleft {margin:1em 0;}
	img.alignnone {margin: 1em 0;}
	img.aligncenter {display: block; margin: 1em}
	a img.alignright {float:right; margin:0 0 1em 1em}
	a img.alignleft {float:left; margin:0 1em 1em 0}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


	 @media only screen and (min-width: 768px) {
		img.alignright {float:right; margin:0 0 1em 1em}
		img.alignleft {float:left; margin:0 1em 1em 0}
		img.aligncenter {display: block; margin-left: auto; margin-right: auto}
		a img.alignright {float:right; margin:0 0 1em 1em}
		a img.alignleft {float:left; margin:0 1em 1em 0}
		a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

		 .section {
		 	padding: 65px 0;
		 }
	 }
