/* Font stacks
================================================ */
	$sans-serif: prosaic-std, sans-serif;
	$serif: "Georgia", Cambria, Times New Roman, Times, serif;
	$font-default: $sans-serif;
	$font-heading: $serif;

/* Base Typography
================================================ */
	body {
		font-family: $font-default;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: $blue;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-variant-ligatures: none;
	}

	h1, .h1 {
		font-weight: 400;
		font-size: 26px;
		line-height: 28px;
		margin-bottom: 23px;
	}

	h2 {
		font-size: 21px;
		line-height: 24px;
		font-weight: 400;
	}

	h3, h5 {
		font-size: 18px;
		line-height: 22px;
		font-weight: bold;
	}

	@media only screen and (min-width: 768px) {
		body {
			font-size: 16px;
			line-height: 24px;
		}

		h1, .h1 {
			font-weight: bold;
			font-size: 48px;
			line-height: 57px;
			margin-bottom: 40px;
		}

		h2 {
			font-size: 36px;
			line-height: 43px;
			font-weight: bold;
		}

		h3 {
			font-size: 32px;
			line-height: 38px;
			font-weight: bold;
		}

		h5 {
			font-size: 24px;
    		line-height: 34px;
		}
	}

	p {
		margin-bottom: 25px;

		&:last-of-type {
			margin: 0;
		}
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}


/* Links
================================================ */
	a, a:visited {
		color: inherit;
		text-decoration: none;
	}

/* Font Face Imports
================================================ */

  /*  @font-face {
		font-family: 'Font Name';
		src: url('assets/fonts/font-name.eot');
		src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
			   url('assets/fonts/font-name.woff') format('woff'),
			   url('assets/fonts/font-name.ttf') format('truetype'),
			   url('assets/fonts/font-name.svg#font-name') format('svg');
		font-weight: normal;
		font-style: normal;
	}
  */
