.case-study {
	position: relative;
	padding: 50px 0 75px 0;

	.wrap {
		position: relative;
		z-index: 2;
	}

	h3 {
		margin-bottom: 30px;
	}

	.intro {
		position: relative;
		z-index: 2;
		margin-bottom: 45px;
	}

	.col {
		width: 100%;
		margin-bottom: 30px;
	}

	h5 {
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 15px;
	}

	.solution {
		p {
			font-size: 18px;
			line-height: 28px;
		}
	}

	.stats {
		width: 100%;

		.stats-container {
			width: 100%;
		}

		.stat {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 10px;

			&:last-of-type {
				margin: 0;
			}

			span {
				font-weight: bold;
				font-size: 36px;
				line-height: 48px;
				color: $blue;
				font-weight: 900;
				display: block;

				span {
					display: inline;
				}
			}
		}
	}

	.lower-row {
		display: flex;
		flex-direction: column;
		align-items: center;

		.media {
			margin: 0 auto;

			.video-container {
				position: relative;
				overflow: hidden;
				cursor: pointer;

				&:after {
					height: 100px;
					width: 100px;
					display: block;
					background: url('../library/images/play-icon.svg') center / contain no-repeat;
					position: absolute;
					top: calc(50% - 50px);
					right: calc(50% - 50px);
					content: '';
					transition: .25s all;
					pointer-events: none;
					z-index: 10;
				}

				&.video-playing {
					&:after {
						opacity: 0;
					}
				}

				video {
					border: none;
					position: relative;
					display: block;
					width: 100%;
					height: auto;
				}
			}

			img {
				position: relative;
				width: 100%;
				height: auto;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.case-study {
		padding: 85px 0;

		h3 {
			margin-bottom: 75px;
		}

		.intro {
			display: flex;
			justify-content: space-between;
			margin-bottom: 45px;
		}

		.col {
			margin: 0;
			width: calc(33.33333% - 30px);
		}

		h5 {
			margin-bottom: 25px;
		}

		.solution {
			p {
				font-size: 24px;
				line-height: 34px;
			}
		}

		.stats {
			.stats-container {
				width: 100%;
			}

			.stat {
				font-size: 24px;
				line-height: 34px;
				margin-bottom: 40px;

				&:last-of-type {
					margin: 0;
				}

				span {
					font-weight: bold;
					font-size: 48px;
					line-height: 58px;
					color: $blue;
					font-weight: 900;
					display: block;

					span {
						display: inline;
					}
				}
			}
		}

		.lower-row {
			display: flex;
			flex-direction: row;

			.media {
				width: 840px;
				height: 510px;
				margin: 0;

				.video-container {
					height: 100%;
					width: 100%;

					&:after {
						height: 120px;
						width: 120px;
						top: calc(50% - 60px);
						right: calc(50% - 60px);
					}

					video {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.case-study {
			.wrap {
				&:before {
				content: '';
				background: url('../library/images/case-study-bg-shape.svg') center / contain no-repeat;
				position: absolute;
				right: 0;
				top: 0;
				height: 605px;
				width: 760px;
			}
		}

		.intro {
			margin-bottom: 75px;
		}
	}
}
