.footer-contact-form-strip {
	position: relative;
	overflow: hidden;
	padding: 80px 20px;
	text-align: center;
	background: $pink;

	.contact-icon {
		display: none;
	}

	.wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.content {
		max-width: 930px;
		text-align: center;
		position: relative;
		z-index: 5;

		h3 {
			margin-bottom: 35px;
		}

		h5 {
			font-weight: 400;
			max-width: 650px;
		}

		.btn {
			width: 170px;
			cursor: pointer;
			margin: 45px auto 0 auto;
			border: none;

			&:hover {
				color: #FFF;
				background: $blue;
			}
		}
	}
}

.footer-contact-form {
	position: relative;
	display: none;
	padding-top: 100px;
	padding-bottom: 100px;

	.wpcf7 {
		display: flex;
		justify-content: center;
	}
}

@media only screen and (min-width: 768px) {
	.footer-contact-form-strip {
		padding: 150px 20px;

		.wrap {
			&:before {
				position: absolute;
				left: calc(50% - 475px);
				top: calc(50% - 325px);
				content: '';
				height: 650px;
				width: 950px;
				background: url('../library/images/contact-strip-bg-shape.svg') center / contain no-repeat;
			}
		}

		h3 {
			margin-bottom: 65px;
		}
	}

	.footer-contact-form {
		.wpcf7 {
			display: flex;
			justify-content: center;

			form {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				max-width: 1270px;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.footer-contact-form-strip {
		.wrap {
			&:before {
				position: absolute;
				left: calc(50% - 475px);
				top: calc(50% - 390px);
				content: '';
				height: 780px;
				width: 950px;
				background: url('../library/images/contact-strip-bg-shape.svg') center / contain no-repeat;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.footer-contact-form-strip {
		.contact-icon {
			display: block;
			position: absolute;
		}

		.icon-one {
			display: block;
			height: 210px;
			width: 190px;
			top: -100px;
			left: 0;
		}

		.icon-two {
			display: block;
			height: 270px;
			width: 140px;
			bottom: -100px;
			right: 0;
		}
	}
}
