.icon-strip {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFF;
	padding: 60px 0 70px 0;

	&.white {
		color: #000;
		background: #FFF;
	}

	&.yellow {
		color: #000;
		background: $primary;
	}

	&.turquoise {
		color: #000;
		background: $secondary;
	}

	&.purple {
		background: $tertiary;
	}

	&.black {
		background: #000;
		color: #FFF;
	}

	.icon {
		display: flex;
		flex-direction:  column;
		justify-content: center;
		align-items: center;
		max-width: 215px;
		margin-bottom: 80px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	img {
		display: block;
		width: 100%;
		height: auto;
		max-width: 105px;
		margin-bottom: 30px;
	}

	h3 {
		text-align: center;
		max-width: 150px;
		margin: 0 auto 80px auto;
	}

	.icons {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		h5 {
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 30px;
		}

		p {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.btn {
		margin-top: 60px;
	}
}

@media only screen and (min-width: 768px) {
	.icon-strip {
		padding: 150px 0;

		.icon {
			max-width: calc(50% - 100px);
		}

		h3 {
			max-width: none;
			margin-bottom: 75px;
		}

		.icons {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;

			h5 {
				margin-bottom: 30px;
			}
		}

		.btn {
			margin-top: 110px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.icon-strip {
		.icon {
			align-items: flex-start;
			max-width: 215px;
			margin: 0;
			text-align: left;

			@for $i from 1 through 10 {
			    &:nth-of-type(#{$i}n) {
			        animation-delay: #{$i * .5}s;
			    }
			}
		}


		.icons {
			display: flex;
			justify-content: space-between;
		}
	}
}
