.image-content-button {
	background: $teal;
	padding: 40px 0;

	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto 30px auto;
	}

	.right-col {
		max-width: 555px;
	}

	h3 {
		margin-bottom: 30px;
	}

	p {
		font-weight: 400;
		@extend h5;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 768px) {
	.image-content-button {
		.wrap {
			display: flex;
			align-items: center;
		}

		img {
			display: block;
			margin: 0 50px 0 0;
		}

		.right-col {
			margin-left: auto;
		}

		h3 {
			margin-bottom: 40px;
		}

		p {
			font-weight: 400;
			margin-bottom: 40px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.image-content-button {
		img {
			margin: 0 auto;
		}
	}
}
