.launch-promo {
	padding: 30px 0;
	background: #FF6900;

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content {
		background: #FFF;
		padding: 30px 30px 60px 30px;
		max-width: 650px;

		&.animateelement {
			animation-delay: 1s;
		}
	}

	h3 {
		margin-bottom: 35px;
	}

	p {
		margin-bottom: 10px;

		&:first-of-type {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 40px;
		}
	}

	ul {
		margin-bottom: 25px;
		margin-top: 5px;

		li {
			display: flex;
			margin-bottom: 10px;

			&:before {
				content: '\f00c';
				font-family: "Font Awesome 5 Pro";
				font-weight: 900;
				margin-right: 12px;
			}

			&:last-of-type {
				margin: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.counter {
		text-align: center;
		margin-top: 60px;

		p {
			font-size: 16px;
			line-height: 16px;
			margin-bottom: 30px;
		}

		h3 {
			font-weight: normal;
			margin-bottom: 40px;
		}

		img {
			max-width: 100%;
			height: auto;
			display: block;
		}

		.btn {
			display: inline-flex;
			//max-width: 200px;
			margin: 50px auto 0 auto;
		}
	}
}

@media only screen and (min-width: 768px) {
	.launch-promo {
		padding: 30px 0;
		background: #FF6900;

		.wrap {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.content {
			background: #FFF;
			padding: 60px 50px 140px 50px;
			max-width: 650px;
			margin-right: 110px;
			margin-bottom: 0;

			&.animateelement {
				animation-delay: 1s;
			}
		}

		h3 {
			margin-bottom: 35px;
		}

		p {
			margin-bottom: 10px;

			&:first-of-type {
				font-size: 24px;
				line-height: 34px;
				margin-bottom: 55px;
			}
		}

		ul {
			margin-bottom: 25px;
			margin-top: 5px;

			li {
				display: flex;
				margin-bottom: 10px;

				&:before {
					content: '\f00c';
					font-family: "Font Awesome 5 Pro";
					font-weight: 900;
					margin-right: 12px;
				}

				&:last-of-type {
					margin: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		.counter {
			text-align: left;

			p {
				font-size: 16px;
				line-height: 16px;
				margin-bottom: 50px;
			}

			h3 {
				font-weight: normal;
				margin-bottom: 60px;
			}

			.btn {
				display: flex;
				max-width: 200px;
				margin: 80px auto 0 auto;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.launch-promo {
		padding: 30px 0;
		background: #FF6900;

		.wrap {
			display: flex;
			align-items: center;
		}

		.content {
			background: #FFF;
			padding: 60px 50px 140px 50px;
			max-width: 650px;
			margin-right: 110px;

			&.animateelement {
				animation-delay: 1s;
			}
		}

		h3 {
			margin-bottom: 35px;
		}

		p {
			margin-bottom: 10px;

			&:first-of-type {
				font-size: 24px;
				line-height: 34px;
				margin-bottom: 55px;
			}
		}

		ul {
			margin-bottom: 25px;
			margin-top: 5px;

			li {
				display: flex;
				margin-bottom: 10px;

				&:before {
					content: '\f00c';
					font-family: "Font Awesome 5 Pro";
					font-weight: 900;
					margin-right: 12px;
				}

				&:last-of-type {
					margin: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		.counter {
			margin-top: 0;

			p {
				font-size: 16px;
				line-height: 16px;
				margin-bottom: 50px;
			}

			h3 {
				font-weight: normal;
				margin-bottom: 60px;
			}

			.btn {
				display: flex;
				//max-width: 200px;
				margin: 80px auto 0 auto;
			}
		}
	}
}
