.masthead {
	.wrap {
		padding-top: 110px;
		padding-bottom: 60px;
		min-height: 380px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.media {
		width: 100%;
		max-width: 600px;
		margin-bottom: 60px;

		iframe {
			width: 100%;
			height: auto;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.left-col {
		order: 2;
	}

	h5 {
		font-weight: 400;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 1024px) {
	.masthead {
		.wrap {
			padding-top: 90px;
			min-height: 815px;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.media {
			max-width: 650px;
			width: 100%;
			margin-bottom: 0;
			margin-left: auto;
		}

		.left-col {
			flex-shrink: 0;
			max-width: 600px;
			order: 0;
		}

		.content {
			&.animate {
				animation-delay: .75s!important;
			}
		}

		.btn {
			&.animate {
				animation-delay: 1s!important;
			}
		}

		h5 {
			margin-bottom: 45px;
		}
	}
}
