.remodal {
	background: none;
	max-width: 330px;
	overflow: hidden;
	padding: 0;

	.modal-innards-container {
		display: flex;
		justify-content: center;
		align-items: center;

		&.booking-form-sent, &.funnel-form-sent {
			.form-container {
				opacity: 0;
				pointer-events: none;
			}
		}

		&.booking-form-sent {
			.book-thank-you {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&.funnel-form-sent {
			.book-thank-you {
				opacity: 0;
				pointer-events: none;
			}

			.funnel-thank-you {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	.form-container {
		position: relative;
		background: #FFF;
		border-radius: 20px;
		border: 3px solid #000;
		color: #000;
		width: 100%;
		padding: 35px 30px;
		transition: .5s all;
	}

	.remodal-close {
		color: #000;
		right: 5px;
		top: 5px;
		left: auto;
		z-index: 10;
	}

	h5 {
		font-weight: bold;
		font-style: italic;
		margin-bottom: 50px;
		text-align: center;
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 20px;
		text-align: left;

		&.your-email {
			margin-bottom: 40px;
		}
	}

	input,textarea {
		display: block;
		font-size: 16px;
		line-height: 18px;
		height: 40px;
		width: 100%;
		background: none;
		border: 2px solid #000;
		-webkit-appearance: none;
		border-radius: 8px;
		padding-left: 10px;
		color: #000;
		font-family: $font-default;

		&.valid {
			border-color: $secondary;
		}

		&.error {
			border-color: #FC6406;
		}
	}

	textarea {
		resize: none;
		height: 100px;
		font-style: italic;
		padding-top: 5px;
	}

	::placeholder {
		color: rgba(0,0,0,0.4);
	}

	.wpcf7-submit {
		@extend .btn;
		@extend .turquoise;
		border: none;
		width: auto;
		color: #FFF;
		font-size: 15px;
		padding: 0 20px;

		&:hover {
			background: #000;
		}

		&:disabled {
			background: none;
			border: 2px solid #808080;
			color: #808080;

			&:hover {
				color: #808080;
				background: none;
			}
		}
	}

	.acceptance-824 {
		width: auto;
		margin-bottom: 0;
		margin-top: 30px;

		a {
			text-decoration: underline;
		}

		span {
			line-height: 15px;
			font-size: 12px;
		}

		.wpcf7-form-control, .wpcf7-list-item {
			display: block;
			width: 100%;
			margin: 0;
		}

		label {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		input[type="checkbox"] {
			padding: 0;
			cursor: pointer;
			border: none;
			height: 15px;
			flex-shrink: 0;
			width: 15px;
			margin: 0;
			margin-right: 15px;
			transition: none;
			background: #FFF;
			border-radius: 0;
			border: 1px solid #000;

			&:checked {
				background: #FFF url('../library/images/tick.svg') center / 14px 10px no-repeat!important;
			}
		}
	}

	.wpcf7-not-valid-tip, label.error {
		font-size: 12px;
		margin-top: 5px;
		text-align: left;
	}

	label.error {
		color: red;
		text-align: left;
	}

	span.ajax-loader {
		transform: translateX(15px);
	}

	.wpcf7-response-output {
		display: none!important;
	}
}

@media only screen and (min-width: 768px) {
	.remodal {
		max-width: 520px;

		.form-container {
			padding: 45px 50px;
		}

		input,textarea {
			font-size: 23px;
			line-height: 28px;
		}

		.wpcf7-submit {
			font-size: 19px;
			padding: 0 20px;
		}

		.acceptance-824 {
			span {
				line-height: 15px;
				font-size: 14px;
			}
		}
	}
}

.thank-you-message {
	opacity: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 330px;
	position: absolute;
	background: $tertiary;
	color: #FFF;
	background: $tertiary;
	border-radius: 20px;
	border: 2px solid #FFF;
	color: #FFF;
	width: 100%;
	padding: 35px 30px;
	transition: .5s all;

	h5 {
		font-weight: normal;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		font-style: italic;
		text-align: center;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 768px) {
	.thank-you-message {
		max-width: 520px;
		padding: 35px  45px;
		transition: .5s all;
	}
}

.book-a-call-modal {
	.progress-label {
		text-align: left;
		margin-bottom: 10px;
		font-style: italic;
	}

	.form-progress {
		display: flex;
		height: 20px;
		border: 2px solid #000;
		border-radius: 30px;
		margin-bottom: 25px;
		overflow: hidden;

		.step {
			height: 100%;
			background: $secondary;
			width: 50%;
			border-right: 2px solid #000;
			transition: .3s all;

			&.step-two {
				transform-origin: left;
				transform: scaleX(0);
				border-right: 0;

				&.active {
					transform: scaleX(1);
				}
			}
		}
	}

	.wpcf7 {
		form {
			display: flex;
			overflow: hidden;
		}
	}

	.form-step {
		width: 100%;
		height: 100%;
		flex-shrink: 0;
		transition: .3s all;

		&.hidden-step {
			margin-left: -100%;
		}
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 20px;
		text-align: left;

		&.current-marketing-spend {
			display: none;
		}

		&.your-email {
			margin-bottom: 20px;
		}

		&.company-name {
			margin-bottom: 40px;
		}
	}

	.custom-select {
		position: relative;
		display: block;
		background: none;
		outline: none;
		border-bottom: none;
		font-size: 16px;
		z-index: 5;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 28px;
		height: 40px;
		width: 100%;
		border: 3px solid #000;
		-webkit-appearance: none;
		border-radius: 8px;
		padding-left: 10px;
		color: #000;
		cursor: pointer;
		transition: .5s border-radius;

		&.error {
			border-color: #FC6406;
		}

		&.valid {
			border-color: $secondary;
		}

		.text {
			font-size: 16px;
			font-weight: 400;
			width: 100%;
			display: flex;
			align-items: center;
			height: 34px;
			font-family: $font-default;
			opacity: 0.8;
		}

		ul {
			position: absolute;
			top: 34px;
			left: -3px;
			width: calc(100% + 6px);
			border: 3px solid #000;
			border-top: none;
			display: none;
			background: #FFF;
			text-align: left;
			border-radius: 0 0 8px 8px;

			li {
				padding: 3px 0 3px 10px;
				border-bottom: 3px solid #000;
				font-size: 14px;
				transition: .5s all;

				&:first-of-type {
					border-top: 3px solid #000;
					padding-top: 0;
				}

				&:last-of-type {
					border: none;
				}

				&:hover, &.active {
					color: $secondary;
				}
			}
		}

		&:after {
			pointer-events: none;
			position: absolute;
			right: 10px;
			top: 10px;
			width: 16px;
			height: 15px;
			content: '';
			background: url('../library/images/select-down-chevron.svg') right center / contain no-repeat;
		}

		&.active {
			border-radius: 8px 8px 0 0;

			&:after {
				transform: rotate(180deg);
			}
		}
	}

	.ajax-loader {
		display: none!important;
	}

	.wpcf7-not-valid-tip {
		display: none;
	}

	.btn {
		position: relative;
		padding-right: 60px;

		&:after {
			content: '';
			height: 15px;
			width: 30px;
			background: url('../library/images/next-arrow.svg') center / contain no-repeat;
			position: absolute;
			right: 18px;
			transition: .5s .25s all;
		}

		&.disabled {
			background: none;
			border: 2px solid #808080;
			color: #808080;
			padding-right: 25px;

			&:after {
				opacity: 0;
			}

			&:hover {
				color: #808080;
				background: none;
			}
		}

		&:hover {
			color: #FFF;
			background: $secondary;
		}
	}

	.wpcf7-submit {
		@extend .btn;
		@extend .black;
		width: 205px;
		padding: 0;
	}

	.thank-you-message {
		form {
			display: block;
		}
		.your-first-name, .your-last-name, .your-email {
			display: none;
		}

		.wpcf7-submit {
			color: #FFF;
			@extend .turquoise;

			&:disabled {
				background: none;
				border: 2px solid #808080;
				color: #808080;

				&:hover {
					color: #808080;
					background: none;
				}
			}

			&:hover {
				background: #000;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.book-a-call-modal {
		.progress-label {
			margin-bottom: 20px;
		}

		.custom-select {
			font-size: 23px;
			line-height: 28px;

			.text {
				font-size: 23px;
			}

			ul {
				li {
					font-size: 16px;
				}
			}

		}
	}
}
