.rows {
	.row {
		padding: 80px 0 60px 0;
		text-align: center;

		&:nth-of-type(2n){
			background: $pink;
		}
	}

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h3 {
		margin-bottom: 20px;

		br {
			display: none;
		}
	}

	.image-container {
		order: 1;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
	}

	img {
		flex-shrink: 0;
		display: block;
		max-width: 530px;
		width: 100%;
		height: auto;
	}

	.content {
		order: 2;
	}
}

@media only screen and (min-width: 768px) {
	.rows {
		.row {
			text-align: left;

			&:nth-of-type(2n) {
				.content {
					order: 2;
				}

				.image-container {
					order: 1;
					margin-left: 0;
				}
			}
		}

		.wrap {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		h3 {
			margin-bottom: 60px;
		}

		.content {
			order: 1;
			width: calc(50% - 15px);
			animation-delay: .75s!important;
		}

		.image-container {
			margin: 0;
			width: calc(50% - 15px);

			&.animate {
				animation-delay: .25s;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.rows {
		.row {
			&:nth-of-type(2n) {
				.image-container {
					margin: 0;
				}
			}
		}

		h3 {
			br {
				display: block;
			}
		}

		.image-container {
			margin: 0;
		}
	}
}
