.two-col-cta {
	overflow: hidden;

	.wrap {
		padding: 0;
	}

	.col {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 40px 25px;
		width: 100%;

		&.yellow {
			background: $primary;

			&:before {
				background: $primary;
			}

			.btn {
				&.black {
					&:hover {
						background: $secondary;
					}
				}
			}
		}

		&.turquoise {
			background: $secondary;

			&:before {
				background: $secondary;
			}
		}

		&.purple {
			background: $tertiary;

			&:before {
				background: $tertiary;
			}
		}

		&.black {
			background: #000;
			color: #FFF;

			&:before {
				background: #000;
			}
		}
	}

	h2, h3 {
		margin-bottom: 30px;

		&:last-child {
			margin: 0;
		}
	}

	img {
		margin-top: 0;
		margin-bottom: 50px;
	}

	ul {
		margin-bottom: 25px;
		margin-top: 5px;

		li {
			display: flex;
			margin-bottom: 10px;

			&:before {
				content: '\f00c';
				font-family: "Font Awesome 5 Pro";
				font-weight: 900;
				margin-right: 12px;
			}

			&:last-of-type {
				margin: 0;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	.btn {
		margin-top: 45px;
		margin-right: auto;

		&.center {
			margin: 45px auto 0 auto;
		}

		&.right {
			margin-left: auto;
		}
	}
}


@media only screen and (min-width: 768px) {
	.two-col-cta {
		.col {
			padding: 80px 0;
		}

		h2, h3 {
			margin-bottom: 60px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.two-col-cta {
		.wrap {
			display: flex;
			padding: 0 25px;
		}

		.col {
			padding: 80px 0;
			width: 50%;
			padding-right: 25px;

			&:before {
				content: '';
				position: absolute;
				left: -999999px;
				top: 0;
				height: 100%;
				width: 999999px;
			}
		}

		.right-col {
			padding-right: 0px;
			padding-left: 25px;

			&:before {
				left: auto;
				right: -999999px;
			}

			.animateelement {
				animation-delay: .5s!important;
			}

			.btn {
				animation-delay: .75s!important;
			}
		}
	}
}
